<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <center>
            <h2>CADASTRO</h2>
        </center>
        <form action="../controlls/cadastrar.php" method="post">
            <img src="../imgs/Icon awesome-user-alt.png" id="userimg">
            <input type="text" name='login' id="login">
            <img src="../imgs/Icon awesome-lock.png" id="lockimg">
            <input type="password" name='senha' id="senha">
            <input type="submit" value="Cadastrar" id="btn-login">
            <a href="index.html"><input type="button" value="Logar" id="btn-cadastro"></a>
        </form>
    </div>
</body>
</html> 